/* .p-inputtext {
  height: 30px;
  font-size: 14px;
  border-radius: 2px;
  padding: 10px;
  color: black;
  background-color: whitesmoke;
  width: 25rem;
}
.p-inputtext:focus {
  background-color: white;
} */
